@font-face {
    font-family: 'Ownglyph_ParkDaHyun';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
  font-family: 'Arial', sans-serif;
  background-image: url("/static/images/main_background.png");
  background-size: cover;
  height: calc( 100vh - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position : relative;
}

.album_container {
  width: 1200px;
  height: 800px;
  display: flex;
  justify-content: center;
  position : relative;
  flex-direction : column;
  font-family : Ownglyph_ParkDaHyun;
}

.album_container > div {
  width : 100%;
  height : 85%;
  display: flex;
  justify-content: center;
  align-items : center;
  position : relative;
}

.photo_frame {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.25rem 1rem rgba(0,0,0,0.2);
  height : 70%;
  width: 40%;
  border-radius: 8px;
  transform : rotate(358.5deg);
  z-index: 10;
  margin-left : 220px;
  border : 6px solid #A08C64;
}

.album_container .photo_frame:before {
  content: '';
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}
.album_container .frame_img{
  box-sizing : border-box;
  height: 95%;
  border : 6px solid #A08C64;
  border-radius : 3%;
}

.album_container .frame_img img{
  border-radius : 1.7%;
  object-fit : cover;
  object-position : center center;
}

.caption {
  font-size: 1.3rem;
  text-align: left;
  line-height: 2em;
}
.caption span:first-child{
  margin-left : 5px;
}
.right_btn {
  width : 25%;
  margin-left : 30px;
  display: flex;
  align-items: flex-start;

}
.btn_wrap .normal_btn {
  background-color: #d9ad66;
  color: #3c2c18;
  margin-bottom: 20px;
  text-align: center;
  padding-top : 3px;
  padding-bottom : 3px;
  border : 1px solid black;
  border-radius: 10px;
  width: 50%;
  font-size : 21px;
  font-weight : bold;
  cursor : pointer;
}

.btn_wrap .normal_btn:hover {
	background-color : #b98b3f;	
}

.btn_wrap .normal_btn img{
  width : 40%;
  text-align: center;
  margin: 0 auto;
  margin-bottom : -7px;
}

.album_container > div.bottom_btn{
	display : flex;
	height : 60px;
	width : 40%;
	justify-content : center;
	margin-left : 320px;
	margin-top : -50px;
}

.album_container > div.bottom_btn .btn_wrap{
	display : flex;
	justify-content : center;
	align-items : center;
	width : 100%;
	height : 100%;
}

.album_container > div.bottom_btn .btn_wrap .normal_btn{
	width : 140px;
	margin : 0 10px;
	position : relative;
}

.album_container > div.bottom_btn .btn_wrap .normal_btn img{
	position : absolute;
	top : 0;
	left : 0;
	width : 30px;
	height : auto;
	transform : translate(-2px, -12px) rotate(18deg);
}

.album_container .free_image{
	position : absolute;
	width : 120px;
}
.album_container .photo_frame .free_image.tape{
	top : 0;
	left : 40%;
	width : 90px;
	transform : translateY(-25px) rotate(357deg);
	opacity : 0.8;
}

.album_container .free_image.teddy_bear{
	bottom : 5%;
	right : 18%;
	width : 150px;
	transform : translateY(65px);
}

.album_container .free_image.main_img1{
	left: 17%;
	top: 13%;
	height : auto;
	transform : rotate(7deg);
}

.album_container .free_image.main_img2{
	left: 17%;
	bottom: 35%;
	height : auto;
	transform : rotate(354deg);
}

.album_container .free_image.main_sunny{
	left: 10%;
	bottom: 10%;
	height : auto;
	transform : rotate(2deg);
	width : 170px;
}