<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>포토북 메인</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="../resources/css/main_2.css" />
</head>
<body>
  <div class="wrap">
    <div class="main">
      <div class="main_photo">
        <div class="letter">여수 앞바다...</div>
        <img src="../resources/images/main_image.jpg" />
      </div>
    </div>
  </div>
</body>
</html>
