<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>My Album</title>

        <link rel="stylesheet" href="/static/css/common.css" />
        <link rel="stylesheet" href="/static/css/main.css" />

    </head>

    <body>
        <div class="album_container">
			<div>
				<div class="photo_frame">
					<div class="free_image tape"><img src="/static/images/main_tape.png" alt=""></div>
					
					<div class="frame_img">
						<img src="/static/images/main_image.JPG" alt="">
					</div>
					
					<div class="caption">
						<span>#가족사진</span> &nbsp; <span>#추억</span>
					</div>
				</div>

				<section class="right_btn">
					<div class="btn_wrap">
						<div class="normal_btn">
							<a href="/photo_list">
								<img src="/static/images/main_search.png" alt="">
								<span>사진 보기</span>
							</a>
						</div>
						<div class="normal_btn">
							<a href="#">
								<img src="/static/images/main_last.png" alt="">
								<span>지난오늘 보기</span>
							</a>
						</div>
						<div class="normal_btn">
							<a href="#">
								<img src="/static/images/main_hashtag.png" alt="">
								<span>키워드 검색</span>
							</a>
						</div>
					</div>
				</section>
				
				<div class="free_image teddy_bear">
					<img src="/static/images/main_bear.png" alt="">
				</div>
			</div>
			
			<div class="bottom_btn">
				<div class="btn_wrap">
					<div class="normal_btn">
						<a href="/upload_page">
							<img src="/static/images/red_pin.png" alt="">
							<span>사진 등록</span>
						</a>
					</div>
					
					<div class="normal_btn">
						<a href="#">
							<img src="/static/images/blue_pin.png" alt="">
							<span>인물 등록</span>
						</a>
					</div>
				</div>
			</div>
			
			<div class="free_image main_img1"><img src="/static/images/main_img1.png" alt=""></div>
			<div class="free_image main_img2"><img src="/static/images/main_img2.png" alt=""></div>
			<div class="free_image main_sunny"><img src="/static/images/main_sunny3.png" alt=""></div>
			
        </div>
    </body>
</html>